html {
	font-family: sans-serif;
	}

div.centerer {
	margin-left: auto;
	margin-right: auto;
	width: 53em;
	}

table.columns td {
	vertical-align: top;
	padding-top: 0;
	}

#cur-word {
	font-size: 150%;
	border-color: #DDD;
	border-style: solid;
	border-width: 2px;
	}

#cur-word[error] {
	background-color: #F88;
	}

.letter-circle {
	fill: none;
	stroke: black;
	stroke-width: 12;
	}

.letter-circle[error] {
	fill: #F88;
	}

.letter-circle[used] {
	fill: #CCC;
	}

.wheel-letter {
	font-size: 120px;
	text-anchor: middle;
	dominant-baseline: central;
	}

div.right-column {
	margin-left: 1em;
	}

h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
	}

span#found-words a {
	text-decoration: none;
	color: black;
	}

span#found-words a.just-found {
	font-weight: bold;
	}

span#found-words a.already-found {
	font-weight: bold;
	color: red;
	}

span#found-words a.max-length {
	color: green;
	}

span#found-words a.unfound {
	color: grey;
	}

span#found-words a.unfound.max-length {
	color: lightgreen;
	}

span.word-points {
	color: grey;
	}

div.status {
	margin-bottom: 1em;
	margin-top: 0.5em;
	}

div#point-totals {
	margin-bottom: 1em;
	}

a#give-up-link {
	text-decoration: none;
	}

